*{padding: 0; margin: 0;}
ul{list-style: none;}
a{text-decoration: none;}

header{
    background-color: rgb(51, 50, 54);
    width: 100%;
    /*자식 요소들의 배치를 absolute를 사용할때 기준점을 부모요소로 하려면 static 아니면 됨*/
    position: relative;
}

#logo{    
    padding-top: 30px;
    padding-left: 30px;
}
#top_menu{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
}
#top_menu a{
    color: white;
}
nav{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
nav li{
    line-height: 3em;
    border-bottom: 1px solid black;
}
nav li a{
    color: white;
    display: block;
    text-align: center;
}
nav li a:hover{
    background-color: white;
    color: black;
}

#main img{
    width: 100%;
    border: 1px solid gray;
}

#banner li{
    border-bottom: 1px solid gray;
}
#banner li a{
    display: block;
    text-align: center;
}
footer{padding: 0px 0px;}
footer img{width: 100%;}
